# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile .ssh/authorized_keys

UseDNS no
Subsystem sftp internal-sftp

PermitRootLogin no
AuthenticationMethods publickey
MaxAuthTries 1
AllowUsers alp